<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-dao.xml"/>
    <import resource="spring-service.xml"/>
    <import resource="spring-mvc.xml"/>
    <import resource="Jedis.xml"/>

    <bean id="user" class="com.bluemsun.entity.User"/>
    <bean id="manager" class="com.bluemsun.entity.Manager"/>
    <bean id="page" class="com.bluemsun.entity.Page"/>
    <bean id="plate" class="com.bluemsun.entity.Plate"/>
    <bean id="blog" class="com.bluemsun.entity.Blog"/>
    <bean id="plateNotice" class="com.bluemsun.entity.PlateNotice"/>
    <bean id="plateApplication" class="com.bluemsun.entity.PlateApplication"/>
    <bean id="managerNotice" class="com.bluemsun.entity.ManagerNotice"/>
    <bean id="mainComment" class="com.bluemsun.entity.MainComment"/>
    <bean id="insideComment" class="com.bluemsun.entity.InsideComment"/>
    <bean id="plateApplicationDto" class="com.bluemsun.dto.PlateApplicationDto"/>
    <bean id="blogUserDto" class="com.bluemsun.dto.BlogUserDto"/>
    <bean id="mainCommentDto" class="com.bluemsun.dto.MainCommentDto"/>
    <bean id="insideCommentDto" class="com.bluemsun.dto.InsideCommentDto"/>


</beans>