<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-dao.xml"/>
    <import resource="spring-service.xml"/>
    <import resource="spring-mvc.xml"/>

    <bean id="user" class="com.bluemsun.entity.User"/>
    <bean id="manager" class="com.bluemsun.entity.Manager"/>

<!--    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >-->
<!--        <property name="prefix" value="/WEB-INF/jsp/" />-->
<!--        <property name="suffix" value=".jsp" />-->
<!--        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />-->
<!--    </bean>-->

<!--    <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver"/>-->

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="900000" />
        <property name="maxInMemorySize" value="900000" />
    </bean>

</beans>