<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--下划线自动映射驼峰字段-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="com.bluemsun.entity"/>
        <package name="com.bluemsun.dto"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/bluemsun/dao/UserMapper.xml"/>
        <mapper resource="com/bluemsun/dao/ManagerMapper.xml"/>
        <mapper resource="com/bluemsun/dao/BlogMapper.xml"/>
        <mapper resource="com/bluemsun/dao/PlateMapper.xml"/>
        <mapper resource="com/bluemsun/dao/PlateApplicationMapper.xml"/>
        <mapper resource="com/bluemsun/dao/ManagerNoticeMapper.xml"/>
        <mapper resource="com/bluemsun/dao/InsideCommentMapper.xml"/>
        <mapper resource="com/bluemsun/dao/MainCommentMapper.xml"/>
        <mapper resource="com/bluemsun/dao/PlateNoticeMapper.xml"/>
    </mappers>

</configuration>