<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       https://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--    扫描service下的包-->
    <context:component-scan base-package="com.bluemsun.service"/>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!--声明式事务配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置事务通知-->
<!--    <tx:advice id="txAdvice" transaction-manager="transactionManager">-->
<!--        <tx:attributes>-->
<!--            &lt;!&ndash;配置哪些方法使用什么样的事务,配置事务的传播特性&ndash;&gt;-->
<!--            <tx:method name="add" propagation="REQUIRED"/>-->
<!--            <tx:method name="delete" propagation="REQUIRED"/>-->
<!--            <tx:method name="update" propagation="REQUIRED"/>-->
<!--            <tx:method name="search*" propagation="REQUIRED"/>-->
<!--            <tx:method name="get" read-only="true"/>-->
<!--            <tx:method name="*" propagation="REQUIRED"/>-->
<!--        </tx:attributes>-->
<!--    </tx:advice>-->

<!--    &lt;!&ndash;配置aop织入事务&ndash;&gt;-->
<!--    <aop:config>-->
<!--        <aop:pointcut id="txPointcut" expression="execution(* com.bluemsun.dao.*.*(..))"/>-->
<!--        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>-->
<!--    </aop:config>-->

    <!--    将所有业务注入到spring ；配置、注解皆可-->
    <bean id="userService" class="com.bluemsun.service.impl.UserServiceImpl"/>
    <bean id="managerService" class="com.bluemsun.service.impl.UserServiceImpl"/>
    <bean id="blogService" class="com.bluemsun.service.impl.BlogServiceImpl"/>
    <bean id="plateService" class="com.bluemsun.service.impl.PlateServiceImpl"/>
    <bean id="plateApplicationService" class="com.bluemsun.service.impl.PlateApplicationServiceImpl"/>
    <bean id="managerNoticeService" class="com.bluemsun.service.impl.ManagerNoticeServiceImpl"/>
    <bean id="commentService" class="com.bluemsun.service.impl.CommentServiceImpl"/>
    <bean id="plateNoticeService" class="com.bluemsun.service.impl.PlateNoticeServiceImpl"/>
    <bean id="jedisUtil" class="com.bluemsun.utils.JedisUtil"/>
    <bean id="gson" class="com.google.gson.Gson"/>

</beans>