<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemsun.dao.BlogMapper">

    <select id="getBlogCount" resultType="int">
        select count(*) from bs_bbs.tb_blog;
    </select>
    
    <select id="getBlogsLimit" resultType="Blog" parameterType="map">
        select b.id, user_id, title, create_time, views, storage_path, release_form, likes_num,u.username from bs_bbs.tb_blog b join bs_bbs.tb_user u on b.user_id=u.id order by create_time desc limit #{startIndex},#{pageSize};
    </select>

    <delete id="deleteBlog" parameterType="Blog">
        delete from bs_bbs.tb_blog where id=#{id};
    </delete>

    <insert id="toppingBlog" parameterType="Blog">
        insert into bs_bbs.tb_home_blog(blog_id, top) VALUES (#{id},#{top});
    </insert>

    <update id="modifyBlogTop" parameterType="Blog">
        update bs_bbs.tb_home_blog set top=#{top} where id=#{id};
    </update>

    <delete id="cancelToppingBlog" parameterType="Blog">
        delete from bs_bbs.tb_home_blog where id=#{id};
    </delete>

</mapper>