<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemsun.dao.UserMapper">

    <insert id="addUser" parameterType="User">
        insert into bs_bbs.tb_user(username, password, stu_number,phone_number,email_count) values (#{username},#{password},#{stuNumber},#{phoneNumber},#{emailCount});
    </insert>

    <delete id="deleteUser" parameterType="User">
        delete from bs_bbs.tb_user where id=#{id};
    </delete>

    <update id="updateUser" parameterType="User">
        update bs_bbs.tb_user set username=#{username},password=#{password},sex=#{sex},description=#{description},head_portrait=#{headPortrait}, phone_number=#{phoneNumber},email_count=#{emailCount} where id=#{id};
    </update>

    <select id="getUserCount" resultType="int">
        select count(*) from bs_bbs.tb_user;
    </select>

    <select id="getUsersLimit" parameterType="map" resultType="User">
        select id, username, head_portrait, status, stu_number from bs_bbs.tb_user order by id desc limit #{startIndex},#{pageSize};
    </select>

    <select id="userLogin" parameterType="User" resultType="User">
        select * from bs_bbs.tb_user where stu_number=#{stuNumber};
    </select>

    <select id="checkUser" parameterType="User" resultType="User">
        select id, username, sex, head_portrait, status, description, stu_number, fans_num, follow_user_num, email_count from tb_user where id=#{id};
    </select>

    <select id="selectUser" parameterType="User" resultType="User">
        select id, username, head_portrait, from bs_bbs.tb_user
        <where>
            <choose>
                <when test="username != null">
                    username=#{username}
                </when>
                <when test="stuNumber != null">
                    and stu_number=#{stuNumber}
                </when>
                <when test="id != null">
                    and id=#{id}
                </when>
            </choose>
        </where>
    </select>

    <update id="frozenUser" parameterType="User">
        update bs_bbs.tb_user set status=1 where id=#{id};
    </update>

    <update id="unfreezeUser" parameterType="User">
        update bs_bbs.tb_user set status=0 where id=#{id};
    </update>

    <select id="getFollowUsersCount" parameterType="int" resultType="int">
        select count(*) from tb_user_user where follow_user_id=#{id};
    </select>

    <select id="getFollowUsers" parameterType="map" resultType="User">
        select tu.id, username, head_portrait
        from tb_user_user tuu
        join tb_user tu
        on tu.id = tuu.user_id
        where follow_user_id=#{id}
        limit #{startIndex},#{pageSize};
    </select>

    <select id="getFansCount" parameterType="int" resultType="int">
        select count(*) from bs_bbs.tb_user_user where user_id=#{id};
    </select>

    <select id="getFans" resultType="User" parameterType="map">
        select tu.id, username, head_portrait
        from bs_bbs.tb_user_user tuu
        join tb_user tu
        on tu.id = tuu.follow_user_id
        where tuu.user_id=#{id}
        limit #{startIndex},#{pageSize};
    </select>

    <insert id="followUser" parameterType="map">
        insert into bs_bbs.tb_user_user(user_id, follow_user_id) values (#{userId}, #{id})
    </insert>

    <delete id="cancelFollowUser" parameterType="map">
        delete from bs_bbs.tb_user_user where  user_id=#{userId} and follow_user_id=#{id};
    </delete>

    <select id="getSelectUserCount" parameterType="String" resultType="int">
        select count(*) from bs_bbs.tb_user where username like concat('%' #{username} '%');
    </select>

    <select id="selectUserList" parameterType="map" resultType="User">
        select id, username, head_portrait  from bs_bbs.tb_user where username like concat('%' #{username} '%') limit #{startIndex},#{pageSize};
    </select>

</mapper>